.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-github {
    width: 30px;
    height: 30px;
    background-position: -5px -5px;
}

.sprite-gmail {
    width: 30px;
    height: 30px;
    background-position: -45px -5px;
}

.sprite-linkedin {
    width: 30px;
    height: 30px;
    background-position: -85px -5px;
}

.sprite-sprite_-1_60_-9_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -125px -5px;
}

.sprite-sprite_-1_60_-9_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -435px -5px;
}

.sprite-sprite_-1_90_-2_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -745px -5px;
}

.sprite-sprite_-1_90_-2_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1055px -5px;
}

.sprite-sprite_-3_70_-7_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -1365px -5px;
}

.sprite-sprite_-3_70_-7_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1675px -5px;
}

.sprite-sprite_-5_40_-3_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -1985px -5px;
}

.sprite-sprite_-5_40_-3_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -5px -202px;
}

.sprite-sprite_-5_70_-3_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -315px -202px;
}

.sprite-sprite_-5_70_-3_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -625px -202px;
}

.sprite-sprite_-5_80_-6_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -935px -202px;
}

.sprite-sprite_-5_80_-6_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1245px -202px;
}

.sprite-sprite_-6_50_-7_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -1555px -202px;
}

.sprite-sprite_-6_50_-7_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1865px -202px;
}

.sprite-sprite_-6_60_-4_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -2175px -202px;
}

.sprite-sprite_-6_60_-4_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -5px -399px;
}

.sprite-sprite_-7_30_-5_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -315px -399px;
}

.sprite-sprite_-7_30_-5_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -625px -399px;
}

.sprite-sprite_-7_70_-1_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -935px -399px;
}

.sprite-sprite_-7_70_-1_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1245px -399px;
}

.sprite-sprite_-8_30_-2_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -1555px -399px;
}

.sprite-sprite_-8_30_-2_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1865px -399px;
}

.sprite-sprite_-8_40_-2_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -2175px -399px;
}

.sprite-sprite_-8_40_-2_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -5px -596px;
}

.sprite-sprite_-8_60_-2_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -315px -596px;
}

.sprite-sprite_-8_60_-2_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -625px -596px;
}

.sprite-sprite_1_20_9_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -935px -596px;
}

.sprite-sprite_1_20_9_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1245px -596px;
}

.sprite-sprite_1_40_9_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -1555px -596px;
}

.sprite-sprite_1_40_9_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1865px -596px;
}

.sprite-sprite_1_50_9_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -2175px -596px;
}

.sprite-sprite_1_50_9_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -5px -793px;
}

.sprite-sprite_1_80_9_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -315px -793px;
}

.sprite-sprite_1_80_9_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -625px -793px;
}

.sprite-sprite_1_90_2_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -935px -793px;
}

.sprite-sprite_1_90_2_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1245px -793px;
}

.sprite-sprite_2_50_9_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -1555px -793px;
}

.sprite-sprite_2_50_9_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1865px -793px;
}

.sprite-sprite_2_70_9_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -2175px -793px;
}

.sprite-sprite_2_70_9_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -5px -990px;
}

.sprite-sprite_2_90_8_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -315px -990px;
}

.sprite-sprite_2_90_8_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -625px -990px;
}

.sprite-sprite_3_20_4_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -935px -990px;
}

.sprite-sprite_3_20_4_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1245px -990px;
}

.sprite-sprite_3_60_9_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -1555px -990px;
}

.sprite-sprite_3_60_9_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1865px -990px;
}

.sprite-sprite_3_70_9_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -2175px -990px;
}

.sprite-sprite_3_70_9_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -5px -1187px;
}

.sprite-sprite_3_75_9_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -315px -1187px;
}

.sprite-sprite_3_75_9_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -625px -1187px;
}

.sprite-sprite_3_80_9_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -935px -1187px;
}

.sprite-sprite_3_80_9_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1245px -1187px;
}

.sprite-sprite_4_40_2_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -1555px -1187px;
}

.sprite-sprite_4_40_2_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1865px -1187px;
}

.sprite-sprite_4_80_3_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -2175px -1187px;
}

.sprite-sprite_4_80_3_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -5px -1384px;
}

.sprite-sprite_5_20_4_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -315px -1384px;
}

.sprite-sprite_5_20_4_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -625px -1384px;
}

.sprite-sprite_5_70_2_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -935px -1384px;
}

.sprite-sprite_5_70_2_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1245px -1384px;
}

.sprite-sprite_5_70_3_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -1555px -1384px;
}

.sprite-sprite_5_70_3_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1865px -1384px;
}

.sprite-sprite_5_70_4_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -2175px -1384px;
}

.sprite-sprite_5_70_4_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -5px -1581px;
}

.sprite-sprite_5_75_3_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -315px -1581px;
}

.sprite-sprite_5_75_3_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -625px -1581px;
}

.sprite-sprite_5_80_4_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -935px -1581px;
}

.sprite-sprite_5_80_4_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1245px -1581px;
}

.sprite-sprite_5_80_6_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -1555px -1581px;
}

.sprite-sprite_5_80_6_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1865px -1581px;
}

.sprite-sprite_6_10_4_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -2175px -1581px;
}

.sprite-sprite_6_10_4_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -5px -1778px;
}

.sprite-sprite_6_40_5_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -315px -1778px;
}

.sprite-sprite_6_40_5_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -625px -1778px;
}

.sprite-sprite_6_60_3_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -935px -1778px;
}

.sprite-sprite_6_60_3_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1245px -1778px;
}

.sprite-sprite_6_60_4_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -1555px -1778px;
}

.sprite-sprite_6_60_4_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1865px -1778px;
}

.sprite-sprite_6_75_2_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -2175px -1778px;
}

.sprite-sprite_6_75_2_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -5px -1975px;
}

.sprite-sprite_6_90_1_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -315px -1975px;
}

.sprite-sprite_6_90_1_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -625px -1975px;
}

.sprite-sprite_7_20_5_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -935px -1975px;
}

.sprite-sprite_7_20_5_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1245px -1975px;
}

.sprite-sprite_7_30_1_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -1555px -1975px;
}

.sprite-sprite_7_30_1_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1865px -1975px;
}

.sprite-sprite_7_50_2_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -2175px -1975px;
}

.sprite-sprite_7_50_2_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -5px -2172px;
}

.sprite-sprite_7_70_1_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -315px -2172px;
}

.sprite-sprite_7_70_1_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -625px -2172px;
}

.sprite-sprite_7_70_3_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -935px -2172px;
}

.sprite-sprite_7_70_3_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1245px -2172px;
}

.sprite-sprite_7_80_9_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -1555px -2172px;
}

.sprite-sprite_7_80_9_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1865px -2172px;
}

.sprite-sprite_8_30_2_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -2175px -2172px;
}

.sprite-sprite_8_30_2_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -5px -2369px;
}

.sprite-sprite_8_40_1_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -315px -2369px;
}

.sprite-sprite_8_40_1_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -625px -2369px;
}

.sprite-sprite_8_40_2_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -935px -2369px;
}

.sprite-sprite_8_40_2_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1245px -2369px;
}

.sprite-sprite_8_40_7_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -1555px -2369px;
}

.sprite-sprite_8_40_7_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -1865px -2369px;
}

.sprite-sprite_8_50_1_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -2175px -2369px;
}

.sprite-sprite_8_50_1_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -2295px -5px;
}

.sprite-sprite_8_50_2_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -2485px -202px;
}

.sprite-sprite_8_50_2_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -2485px -399px;
}

.sprite-sprite_8_50_3_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -2485px -596px;
}

.sprite-sprite_8_50_3_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -2485px -793px;
}

.sprite-sprite_8_90_2_featurecolor01 {
    width: 300px;
    height: 187px;
    background-position: -2485px -990px;
}

.sprite-sprite_8_90_2_featurecolor10 {
    width: 300px;
    height: 187px;
    background-position: -2485px -1187px;
}

.sprite-stackoverflow {
    width: 30px;
    height: 30px;
    background-position: -2605px -5px;
}

.sprite-tumblr {
    width: 30px;
    height: 30px;
    background-position: -2645px -5px;
}

.sprite-twitter {
    width: 30px;
    height: 30px;
    background-position: -2685px -5px;
}
